<h1>About the store</h1>
<p>Hello and welcome to this Jungle store, the place to find high quality products.
We started off as a small business and our aim is to continue providing our customers with products that keep them happy, at prices that keep them happy.   </p>